<div class="container">
  <div
    class="container__card card"
    *ngFor="let todo of todoList; let i = index"
  >
    <div class="container__card-name"><b>Tarea: </b>{{ todo.name }}</div>
    <div class="container__card-time">
      <b>Tiempo estimado: </b>{{ todo.time }}hs
    </div>
    <div class="container__card-category">
      <b>Categoría: </b>{{ todo.category }}
    </div>
    <div class="container__card-button">
      <button
        type="button"
        (click)="onClick(i)"
        class="btn"
        [ngClass]="{
          'btn-danger': todo.complete,
          'btn-info': !todo.complete
        }"
      >
        {{ buttonName }}
      </button>
    </div>
  </div>
</div>
